@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

canvas {
  z-index: -1;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);	
  height: calc(100vh + 60px);
}

.loading-text {
  position: relative;
  font-size: 200px;
  color: #fff;
  z-index: 100;
  margin: 0 auto;
  opacity: 0;
}

