@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h1{
  letter-spacing: 3px;

}

.poke-container{
  display:flex;
  /*wraps our text*/
  flex-wrap: wrap;
  align-items: space-btween;
  justify-content: center;
}